.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.icon {
  color: gray;
}

.text {
  color: inherit;
}

.active .icon,
.active .text {
  color: blue;
}
